@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-robotoSlab;
  }
}

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/images/tube-6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
  }
}

@layer components {
  section {
    padding: 140px 15px 20px 15px;
  }
}
